/* src/styles/palettes.css */

/* Valores por defecto para indigo */
:root {
  --heroui-primary-600: #4F46E5;
}

/* Para cada paleta alterna */
html[data-palette="fuchsia"] {
  --heroui-primary-600: #D946EF;
}
html[data-palette="emerald"] {
  --heroui-primary-600: #059669;
}
html[data-palette="amber"] {
  --heroui-primary-600: #F59E0B;
}
html[data-palette="rose"] {
  --heroui-primary-600: #E11D48;
}
